{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Blogs</h1>
    <ul class="list-group list-group-flush" id="blog">
      {% for blog in user.blogs %}
      <li class="list-group-item">
        {{ blog.data }}
        <img src= "{{ blog.picture_url }}" width="300">
      </li>
      {% endfor %}
    </ul>
    <div align="center"><a href="{{ url_for('blog.add_blog') }}"><button class="btn btn-primary">Add Blog</button></a></div>
    {% endblock %}
